<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
</head>
<body>
  <header>
    <h1>DND Create Your Own Monster</h1>
  </header>
  <div class="room">
    <label>{{ Name }}</label><br>
    <label>{{ Health }}</label><br>
    <label>{{  AC  }}</label>
    <label>{{ Type }}</label><br>
    <label>{{ STR }}</label><br>
    <label>{{ DEX }}</label><br>
    <label>{{ CON }}</label><br>
    <label>{{ INT }}</label><br>
    <label>{{ WIS }}</label><br>
    <label>{{ CHA }}</label><br>
    <label>{{ PB }}</label><br>
    <label>{{ Throws }}</label><br>
    <label>{{ Size }}</label><br>
    <label>{{ HitD }}</label>
  </div>
</body>
</html>