<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display</title>
</head>
<body>
<label>{{ Name }}</label><br>
<label>{{ Health }}</label><br>
<label>{{ Type }}</label><br>
<label>{{ STR }}</label><br>
<label>{{ DEX }}</label><br>
<label>{{ CON }}</label><br>
<label>{{ INT }}</label><br>
<label>{{ WIS }}</label><br>
<label>{{ CHA }}</label><br>
<label>{{ PB }}</label><br>
<label>{{ Throws }}</label><br>
<label>{{ Size }}</label><br>
<label>{{ HitD }}</label>
</body>
</html>