<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>

    <link href="{{ url_for('static', filename='bootstrap-3.3.5-dist/css/bootstrap.min.css') }}" rel='stylesheet'/>
</head>
<body>
<header>
<h1>DND Create Your Own Monster</h1>
    <ul class="Logins">
        <li><a href="Login.html">Login</a></li>
        <li><a href="SignUp.html">Sign Up</a></li>
    </ul>
</header>

<div class="room">
   <p>hello there</p>

    <nav>
        <ul>
            <li><a href="MonterCreation.html">Create Monster</a></li>
            <li><a href="DiceRoller.html">Dice Roller</a></li>
            <li><a href="Info.html">Info on Process</a></li>
        </ul>
    </nav>
</div>

</body>
</html>