<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
  <link rel='stylesheet' href='Design.css'/>
</head>
<body>
<header>
<h1>DND Create Your Own Monster</h1>

</header>
<div class="room">
    <div class="login">
      <p>Email:</p>
      <input type="text" id="Email" name="Email" placeholder="Email" required />
      <p>Username:</p>
      <input type="text" id="Username" name="Username" placeholder="Username" required />
      <p>Password:</p>
      <input type="text" id="Password" name="Password" placeholder="Password" required />
      <p>Re-enter Password:</p>
      <input type="text" id="RePassword" name="rePassword" placeholder="Re-enter Password" required />
      <h4><a href="{{ url_for('Login') }}">Login</a></h4>
    </div>


    <h3 class="back"><a href="{{ url_for('home') }}">Back to Home</a></h3>
</div>
</body>
</html>